<h2 class="contentTitle">科目</h2>


<div class="pageContent">
	
	<form method="post" action="/admin/subject/saveSubject" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent nowrap" layoutH="97">
			<p style="width:500px height:800px">
				<label>科目名称：</label>
				<input type="text" name="name" value="{$subject_info['name']}">
			</p>

			<p style="width:500px">
				<label>是否加入地区：</label>
				<select name="area" id="" class="chapter">
					<option <?php if($subject_info['area'] == 1) echo "selected"; ?> value="1">开启</option>
					<option <?php if($subject_info['area'] == 0) echo "selected"; ?> value="0">关闭</option>
				</select>
			</p>

			<p style="width:500px">
				<label>状态：</label>
				<select name="flog" id="" class="chapter">
					<option <?php if($subject_info['flog'] == 0) echo "selected"; ?> value="0">关闭</option>
					<option <?php if($subject_info['flog'] == 1) echo "selected"; ?> value="1">开启</option>
				</select>
			</p>
			<p style="width:500px height:800px">
				<label>排序号：</label>
				<input type="text" name="sortnum" value="{$subject_info['sortnum']}">
			</p>
			<div class="divider"></div>
		</div>
		<div class="formBar">
			<ul>
				<input type="hidden" name="id" value="{$subject_info['id']}">
				<input type="hidden" name="close_dialog" value="1">
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
<script type="text/javascript">
	$(function(){
		// if ({$question_type}  == 4) {
		// 	$('.province').show();
		// }
		$('.category').change(function(){
			if ($(this).val() == 4) {
				$('.province').show();
			} else {
				$('.province').hide();
			}
		});
	})
</script>