<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{$page.numPerPage}" />
	<input type="hidden" name="orderField" value="{$page.orderField}" />
	<input type="hidden" name="orderDirection" value="{$page.orderDirection}" />
</form>

<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="/admin/Chapter/lists" method="post">
	<div class="searchBar">
		<ul class="searchContent" style="height:auto">
			<li>
				id：
				<input type="text" name="id" value="<?php echo $_REQUEST['id']?>"/>
			</li>
			<li>
				所属科目ID：
				<input type="text" name="subject_id" value="<?php echo $_REQUEST['subject_id']?>"/>
			</li>
			<li>
				章节名称：
				<input type="text" name="name" value="<?php echo $_REQUEST['name']?>"/>
			</li>
			<li>
				<p style="width:500px">
					权限：
					<select class="" name="flog" id="flog">
							<option value="">请选择</option>
							<foreach name="status" item="statu">
							<option value="{$key}" <?php if (isset($_REQUEST['flog']) && $key == $_REQUEST['flog']) echo "selected"; ?>>{$statu.name}</option>
						</foreach>
					</select>
				</p>
			</li>
			
		</ul>
		
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查找</button></div></div></li>
			</ul>
		</div>
	</div>
	</form>
</div>
<div class="pageContent">
<div class="panelBar">
		<ul class="toolBar">
			<li><a class="add" href="/admin/chapter/editorChapter" target="dialog" width="700" height="300"><span>添加</span></a></li>
			<li><a class="edit" href="/admin/chapter/editorChapter?id={sid}" target="dialog" width="700" height="600" warn="请选择一道题"><span>修改</span></a></li>
			<li><a class="edit" href="/admin/chapter/saveChapter?id={sid}&is_del=1" target="ajaxTodo" warn="请选择一道题" title="确认删除么？"><span>删除</span></a></li>
			<li><a class="edit" href="/admin/chapter/saveChapter?id={sid}&is_del=0" target="ajaxTodo" warn="请选择一道题" title="确认恢复么？"><span>恢复</span></a></li>
			<li><a class="edit" href="/admin/chapter/del?id={sid}" target="ajaxTodo" warn="请选择一道题" title="确认删除么？"><span>物理删除</span></a></li>
			<li><a title="确实要删除这些记录吗?" target="selectedTodo" rel="ids" postType="string" href="/admin/chapter/batchDel" class="delete"><span>批量删除</span></a></li>
		</ul>
	</div>
	<table class="table" width="100%" layoutH="165">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th width="50">Id</th>
				<th width="150">章节名称</th>
				<th width="200">所属科目ID</th>
				<th width="50">排序号</th>
				<th width="50">章节序号</th>
				<th width="50">权限</th>
				<th width="70">创建日期</th>
				<th width="70">修改日期</th>
			</tr>
		</thead>
		<tbody>
			<volist id="vo" name="lists">
			<tr target="sid" rel="{$vo.id}">
				<td><input name="ids" value="{$vo.id}" type="checkbox"></td>
				<td>{$vo.id}</td>
				<td>{$vo.name}</td>
				<td>{$vo.subject_id}</td>
				<td>{$vo.sortnum}</td>
				<td>{$vo.sn}</td>
				<td>{$vo.flog}</td>
				<td><?php echo date('Y-m-d H:i:s',$vo['create_time']) ?></td>
				<td><?php echo $vo['update_time']? date('Y-m-d H:i:s',$vo['update_time']) : '未修改'; ?></td>
			</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>共{$page.totalCount}条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="{$page.totalCount}" numPerPage="{$page.numPerPage}" pageNumShown="6" currentPage="{$page.pageNum}"></div>

	</div>
</div>