<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" href="__PUBLIC__/home/css/user.css">
</head>
<style type="text/css">
/*.l{
	float: right;
}
.r{
	float: left;
}*/
</style>
<body>
	<div id="all">
		<div class="header">
			<div class="h_content">
				<span class="left">
					您好，
					<php>if(!$_SESSION['me'] || $_SESSION['me']==''){</php>
						<a href="/Home/User/login">请登录</a>
					<php>}else{</php>
						<font color="#4FAED2"><php>echo $_SESSION['me']['realname'];</php></font><a href="/Home/User/center" class="clearMargin">[个人中心]</a><a href="/Home/User/logout" class="clearMargin">[退出]</a>
					<php>}</php>
					<a href="__ROOT__/" class="clearMargin">首页</a>
				</span>
				<span class="right"><a href="javascript:window.external.AddFavorite(location.href, '导游模拟考试系统')">加入收藏</a></span>
			</div>
			<div class="main">
				<div class="title_bg person">
					<div class="big_title person">
						考试系统-个人中心
					</div>
				</div>

				<div class="clearWidth person"></div>

				<div class="userinfo">
					<table>
						<tr>
							<td class="l">真实姓名：</td>
							<td class="r">{$info.realname}</td>
						</tr>
						<tr>
							<td class="l">联系电话：</td>
							<td class="r">{$info.phone}</td>
						</tr>
						<tr>
							<td class="l">身份证号：</td>
							<td class="r">{$info.idcard}</td>
						</tr>
						<tr>
							<td class="l">邮箱：</td>
							<td class="r">{$info.email}</td>
						</tr>
						<tr>
							<td class="l">所在省份：</td>
							<td class="r">{$info.province_name}</td>
						</tr>
						<tr>
							<td class="l">是否是正式学员：</td>
							<td class="r">
								<if condition="$info['formal'] eq 1">
								是
								<else/>
								否
								</if>
							</td>
						</tr>
						<tr>
							<td class="l">剩余时间：</td>
							<td class="r">{$info.time_length}</td>
						</tr>
						<tr>
							<td class="l">上次登录时间：</td>
							<td class="r"><?php echo date('Y-m-d H:i:s',$info['last_login_time']) ?></td>
						</tr>
						<tr>
							<td class="l">用户创建时间：</td>
							<td class="r"><?php echo date('Y-m-d H:i:s',$info['create_time']) ?></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		
		<div class="footer">
			Copyright © 2016 导游在线模拟考试系统
		</div>
	</div>
</body>
</html>