<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link rel="stylesheet" href="__PUBLIC__/home/style.css">
	<script type="text/javascript" src="__PUBLIC__/home/jquery.min.js"></script>
</head>
<body>
	<div class="container ">
		<div class="box regist" style="background: #fff;margin-top: 90px;border-radius: 15px;border: 1px solid #999;width: 535px; margin-left: 410px; height: 400px;">
			<div class="login">
				<span class="user_login">新用户注册</span>
			</div>
			<div class="login_box" action="/Home/User/saveUser1" method="post">
			<form action="{:U('home/user/saveUser1')}" method="post" class="reg_form">
				<p>
					手机号码：<input class="mr_26 phone" type="text" name="phone">
				</p>
				<p>默认密码 ：8888</p>
				<p>
					<span class="mar_25">密</span>码：<input class="mr_26 pass" type="password" name="password">
				</p>
				<p>
					<label for="agreen">
						<input type="checkbox" id="agreen">
						已阅读并同意用户注册协议和隐私声明
					</label>
				</p>
				<p class="login_btn">注册</p>
			</form>
			</div>
		</div>
	</div>
	<script>
		$(function(){
			var $reg_num = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/;
			var $reg_phone = /^1[3|4|5|8][0-9]\d{4,8}$/;
			var $reg_email = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			$(".login_btn").click(function(){
				var $name = $(".name").val();
				var $num = $(".num").val();
				var $phone = $(".phone").val();
				var $email = $(".email").val();
				var $pass = $(".pass").val();
				var $sure_pass = $(".sure_pass").val();
				//验证手机号
				if($phone == ""){
					alert("手机号码不能为空");
					return false;
				}else{
					if($reg_phone.test($phone) == false){
						alert("手机号码输入有误");
						return false;
					}
				}
				//验证密码
				if($pass == ""){
					alert("密码不能为空");
					return false;
				}
				//确认密码
				if($sure_pass == ""){
					alert("密码不能为空");
					return false;
				}
				$(".reg_form").submit();
			})
		})
	</script>
</body>
</html>