<h2 class="contentTitle">题目</h2>


<div class="pageContent">
	
	<form method="post" action="/admin/adver/saveAdver" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent nowrap" layoutH="97">
			<p style="width:500px">
				<p style="width:500px height:800px">
				<label>描述：</label>
				<textarea class="" name="desc" rows="1" cols="20">{$adver_info.desc}</textarea>
			</p>
			<p style="width:500px">
				<label>状态：</label>
				<select name="flog" id="" class="adver">
					<option selected value="1">开启</option>
					<option value="0">关闭</option>
				</select>
			</p>
			</p>
			<p style="width:600px;height:60px">
				<label>上传图片：</label>
				<input type="hidden" name="image" class="image">
				<input type="file" name="file" value="">
				<button onClick="doUpload()" type="button">上传图片</button>
				<span class="up-msg" style="color:green;display: none">上传成功</span>
			</p>
			<div class="divider"></div>
		</div>
		<div class="formBar">
			<ul>
				<input type="hidden" name="id" value="{$adver_info['id']}">
				<input type="hidden" name="close_dialog" value="1">
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit" class="sub">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
<script type="text/javascript">
	//防止多次提交
	// $(document).on('click','.sub',function(){
	// 	$(this).attr('disabled',true);
	// 	$('.pageForm').submit();
	// 	return true;
	// })
	function doUpload() {
		var formData = new FormData($( ".pageForm" )[0]);  
		$.ajax({  
			url: '{:U("admin/api/uploadAdImage")}' ,  
			type: 'POST',  
			data: formData,  
			async: false,  
			cache: false,  
			contentType: false,  
			processData: false,  
			success: function (data) {  
				$('.image').val(data);
				$('.up-msg').show();
			},  
		});  
	}
</script>