<h2 class="contentTitle">题目</h2>


<div class="pageContent">
	
	<form method="post" action="/admin/question/saveQuestion" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent nowrap" layoutH="97">
			<p style="width:500px">
				<label>题型：</label>
				<select name="question_type" id="">
					<option <?php if($question_info['question_type'] == 1) echo "selected"; ?> value="1">单选</option>
					<option <?php if($question_info['question_type'] == 2) echo "selected"; ?> value="2">多选</option>
					<option <?php if($question_info['question_type'] == 3) echo "selected"; ?> value="3">判断</option>
				</select>
			</p>
			<p style="width:500px">
				<label>分类：</label>
				<select name="category" id="" class="category">
					<option>请选择</option>
					<?php foreach ($subject as $key => $value) { ?>
					  <option <?php if($question_info['category'] == $value['id']) echo "selected"; ?> value="<?php echo $value['id']; ?>" rel="<?php echo $value['area']; ?>">{$value['name']}</option>
					<?php } ?>
					  
				</select>
			</p>
			<p style="width:500px">
				<label>章节：</label>
				<select name="chapter" id="chapter" class="chapter">
					<option>请选择</option>
					<?php foreach ($chapter as $key => $value) { ?>
					  <option <?php if($question_info['chapter'] == $value['sn']) echo "selected"; ?> value="<?php echo $value['sn']; ?>">{$value['name']}</option>
					<?php } ?>
				</select>
			</p>
			<p style="width:500px;display:none" class="province">
				<label>地区：</label>
				<select name="province" id="">
					<foreach name="area" item="vo">
					<option <?php if($question_info['province_id'] == $vo['area_id']) echo "selected"; ?> value="{$vo.area_id}">{$vo.area_name}</option>
					</foreach>
				</select>
			</p>
			<p style="width:500px;height:60px">
				<label>标题：</label>
				<textarea class="" name="title" rows="2" cols="50">{$question_info.title}</textarea>
			</p>
			<p style="width:500px;height:160px">
				<label>选项：</label>
				<textarea class="" name="stem_content" rows="8" cols="50">{$question_info.question_stem_str}</textarea>
			</p>
			<p style="width:500px">
				<label>正确答案：</label>
				<input type="text" name="answer" maxlength="20" class="required" value="{$question_info.answer}" />
			</p>
			<p style="width:500px;height:60px">
				<label>解释详情：</label>
				<textarea class="" name="explain" rows="2" cols="50">{$question_info.explain}</textarea>
			</p>
			<div class="divider"></div>
		</div>
		<div class="formBar">
			<ul>
				<input type="hidden" name="id" value="{$question_info['id']}">
				<input type="hidden" name="close_dialog" value="1">
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
<script type="text/javascript">
	$(function(){
		$('.category').change(function(){
			//判断是否需要地区信息
			if ($(this).find("option:selected").attr('rel') == 1) {
				$('.province').show();
			} else {
				$('.province').hide();
			}
			var value = $(".category option:selected").val();
			$.ajax({
				url:"/Admin/question/returnchapter_id",
				type:"post",
				data:{
					category:value,
				},
				datatype:'json',
				success:function(res){
					console.log(res);
					var optiontpl = ""
					if(res.status == "1"){
						var message = res.message;
						for(var i=0;i<message.length;i++){
							optiontpl+= "<option value="+message[i].sn+">"+message[i].name+"</option>"
						}
						$("#chapter").html(optiontpl);
					}
				}
			})
		});

		
	})
</script>