<h2 class="contentTitle">题目</h2>


<div class="pageContent">
	
	<form method="post" action="/admin/question/saveQuestion" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
		<div class="pageFormContent nowrap" layoutH="97">
			<p style="width:500px">
				<label>题型：</label>
				<select name="question_type" id="">
					<option <?php if($question_info['question_type'] == 1) echo "selected"; ?> value="1">单选</option>
					<option <?php if($question_info['question_type'] == 2) echo "selected"; ?> value="2">多选</option>
					<option <?php if($question_info['question_type'] == 3) echo "selected"; ?> value="3">判断</option>
				</select>
			</p>
			<p style="width:500px">
				<label>分类：</label>


				<select name="category" id="" class="category">
					<?php foreach ($subject as $key => $value) { ?>
					  <option value=<?php echo $value['id'] ?>>{$value['name']}</option>
					<?php } ?>
					  
				</select>










				<!-- <select name="category" id="" class="category">

					<?php  foreach ($subject as $key => $value) {  ?>

						<option <?php if($question_info['category'] == 1) echo "selected"; ?> value="1">科目1</option>
						<option <?php if($question_info['category'] == 2) echo "selected"; ?> value="2">科目2</option>
						<option <?php if($question_info['category'] == 3) echo "selected"; ?> value="3">科目3</option>
						<option <?php if($question_info['category'] == 4) echo "selected"; ?> value="4">科目4</option>
					<?php } ?>

				</select> -->
			</p>
			<p style="width:500px">
				<label>章节：</label>
				<select name="chapter" id="" class="chapter">
					<option <?php if($question_info['chapter'] == 1) echo "selected"; ?> value="1">第1章</option>
					<option <?php if($question_info['chapter'] == 2) echo "selected"; ?> value="2">第2章</option>
					<option <?php if($question_info['chapter'] == 3) echo "selected"; ?> value="3">第3章</option>
					<option <?php if($question_info['chapter'] == 4) echo "selected"; ?> value="4">第4章</option>
					<option <?php if($question_info['chapter'] == 5) echo "selected"; ?> value="5">第5章</option>
					<option <?php if($question_info['chapter'] == 6) echo "selected"; ?> value="6">第6章</option>
				</select>
			</p>
			<p style="width:500px;display:none" class="province">
				<label>地区：</label>
				<select name="province" id="">
					<foreach name="area" item="vo">
					<option <?php if($question_info['province_id'] == $vo['area_id']) echo "selected"; ?> value="{$vo.area_id}">{$vo.area_name}</option>
					</foreach>
				</select>
			</p>
			<p style="width:500px;height:60px">
				<label>标题：</label>
				<textarea class="" name="title" rows="2" cols="50">{$question_info.title}</textarea>
			</p>
			<p style="width:500px;height:160px">
				<label>选项：</label>
				<textarea class="" name="stem_content" rows="8" cols="50">{$question_info.question_stem_str}</textarea>
			</p>
			<p style="width:500px">
				<label>正确答案：</label>
				<input type="text" name="answer" maxlength="20" class="required" value="{$question_info.answer}" />
			</p>
			<p style="width:500px;height:60px">
				<label>解释详情：</label>
				<textarea class="" name="explain" rows="2" cols="50">{$question_info.explain}</textarea>
			</p>
			<div class="divider"></div>
		</div>
		<div class="formBar">
			<ul>
				<input type="hidden" name="id" value="{$question_info['id']}">
				<input type="hidden" name="close_dialog" value="1">
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
	
</div>
<script type="text/javascript">
	$(function(){
		if ({$question_type}  == 4) {
			$('.province').show();
		}
		$('.category').change(function(){
			if ($(this).val() == 4) {
				$('.province').show();
			} else {
				$('.province').hide();
			}
			var value = $(".category option:selected").val();
			$.ajax({
				type:post,
				url:"http://kaoshixitong.cn/Admin/question/returnchapter_id",
				data:value,
				datatype:json,
				success:function(res){
					for(var i=0;i<res.length;i++){
						var status = res.status;
						if(status == 1){
							var message = res.message;
							for(var i=0;i<message;i++){
								var option = "<option>message[i]</option>"
								$(".chapter").html(option);
							}
						}
					}
				}
			})
		});

		
	})
</script>
<option <?php if($question_info['chapter'] == 1) echo "selected"; ?> value="1">第1章</option>
					<option <?php if($question_info['chapter'] == 2) echo "selected"; ?> value="2">第2章</option>
					<option <?php if($question_info['chapter'] == 3) echo "selected"; ?> value="3">第3章</option>
					<option <?php if($question_info['chapter'] == 4) echo "selected"; ?> value="4">第4章</option>
					<option <?php if($question_info['chapter'] == 5) echo "selected"; ?> value="5">第5章</option>
					<option <?php if($question_info['chapter'] == 6) echo "selected"; ?> value="6">第6章</option>
					var option = "<option></option>"