<form id="pagerForm" method="post" action="#rel#">
	<input type="hidden" name="pageNum" value="1" />
	<input type="hidden" name="numPerPage" value="{$page.numPerPage}" />
	<input type="hidden" name="orderField" value="{$page.orderField}" />
	<input type="hidden" name="orderDirection" value="{$page.orderDirection}" />
</form>

<div class="pageHeader">
	<form rel="pagerForm" onsubmit="return navTabSearch(this);" action="/admin/user/online" method="post">
	<div class="searchBar">
		<ul class="searchContent" style="height:auto">
		<!--
			<li>
				姓名：
				<input type="text" name="realname" value="<?php echo $_REQUEST['realname']?>"/>
			</li>
			<li>
				邮 箱：
				<input type="text" name="email" value="<?php echo $_REQUEST['email']?>"/>
			</li>
		-->
			<!--<li>
				<p style="width:500px">
					邮箱验证状态：
					<select class="" name="is_verify_email" id="is_verify_email">
							<option value="">全部</option>
							<foreach name="email_verify_status" item="statu">
							<option value="{$key}" <if condition="$key eq $_REQUEST['is_verify_email']">selected="selected"</if>>{$statu.name}</option>
							</foreach>
					</select>
				</p>
			</li>
			<li>
				<p style="width:500px">
					学  校：
					<select class="" name="school_id" id="school">
							<option value="">所有学校</option>
							<volist name="school_list" id="school">
								<option value="{$school.id}" <if condition="$school['id'] eq $_REQUEST['school_id']">selected="selected"</if>>{$school.s_name}</option>
							</volist>
					</select>
				</p>
			</li>
			<li>
				注册时间：
				<input type="text" class="date" name="start_time" value="<?php echo $_REQUEST['start_time']?>" style="width:75px"/>~<input type="text" class="date" name="end_time" value="<?php echo $_REQUEST['end_time']?>" style="width:75px"/>
			</li> -->
		</ul>
		<!--
		<div class="subBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">查找</button></div></div></li>
			</ul>
		</div>
		-->
	</div>
	</form>
</div>
<div class="pageContent">
	<table class="table" width="100%" layoutH="65">
		<thead>
			<tr>
				<th width="22"><input type="checkbox" group="ids" class="checkboxCtrl"></th>
				<th width="30">ID</th>
				<th width="50">姓名</th>
				<th width="85">登录时间</th>
				<th width="70">ip</th>
			</tr>
		</thead>
		<tbody>
			<volist id="vo" name="lists">
			<tr target="sid_user" rel="1">
				<td><input name="ids" value="xxx" type="checkbox"></td>
				<td>{$vo.user_id}</td>
				<td>{$vo.realname}</td>
				<td>{$vo.last_login_time|date="Y-m-d H:i:s",###}</td>
				<td>{$vo.ip}</td>
			</tr>
			</volist>
		</tbody>
	</table>
	<div class="panelBar">
		<div class="pages">
			<span>共{$page.totalCount}条</span>
		</div>
		
		<div class="pagination" targetType="navTab" totalCount="{$page.totalCount}" numPerPage="{$page.numPerPage}" pageNumShown="6" currentPage="{$page.pageNum}"></div>

	</div>
</div>
