@charset "utf-8";

html, body {
	margin: 0;
	text-align: center;
	height: 100%;
}
#login {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	text-align: left;
	background: url(../default/images/login_bg.jpg);
	background-size: cover;
	-moz-background-size: cover;
}
.login_title{
	margin: 0 auto;
	width: 50%;
}
#login_content {
	display: block;
	width: 60%;
	margin: 0 auto;
	padding-top: 10%;
	position: relative;
}
.loginForm {
	display: block;
	width: 240px;
	margin: 0 auto;
}
.loginForm p {
	margin: 10px 0;
}
.loginForm label {
	float: left;
	width: 70px;
	padding: 0 0 0 10px;
	line-height: 25px;
	color: #4c4c4c;
	font-size: 14px;
}
.loginForm input {
	padding: 3px 2px;
	border-style: solid;
	border-width: 1px;
	border-color: #80a5c4;
}
.loginForm .login_input {
}
.loginForm .code {
	float: left;
	margin-right: 5px;
}
.login_bar {
	padding-left: 70px;
}
.login_bar .sub {
	display: block;
	width: 75px;
	height: 30px;
	border: none;
	background: url(../default/images/login_sub.png) no-repeat;
	cursor: pointer;
}
.login_banner {
	display: block;
	height: 270px;
}
.login_inner {
	display: block;
	width: 560px;
	padding: 30px 20px 0 20px;
}
.login_inner p {
	margin: 10px 0;
	line-height: 150%;
	font-size: 14px;
	color: #666;
}
#login_footer {
	clear: both;
	display: block;
	margin-bottom: 20px;
	padding: 10px;
	border-top: solid 1px #e2e5e8;
	color: #666;
	text-align: center;
}