<html>
	<body>
		<div>
			<a href="/home/practice/startPractice?category={$category}&chapter=1" rel="">第1章</a>
			<a href="/home/practice/startPractice?category={$category}&chapter=2" rel="">第2章</a>
			<a href="/home/practice/startPractice?category={$category}&chapter=3" rel="">第3章</a>
			<a href="/home/practice/startPractice?category={$category}&chapter=4" rel="">第4章</a>
			<a href="/home/practice/startPractice?category={$category}&chapter=5" rel="">第5章</a>
			<a href="/home/practice/startPractice?category={$category}&chapter=6" rel="">第6章</a>
		</div>
	</body>
</html>